:root {
  --color-primary: #2c2738;
  --color-primary-darker: #183b56;
  --color-link: #756f86;
  --color-tag: #0880ae;
  --color-tag-text: #ebf4f8;
  --color-tint: #7c9cbf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: var(--color-primary);
  padding: 0 6rem;
}

.nav__pane.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  width: calc(100% - 12rem);
  z-index: 999;
}

.nav__pane {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.4rem;
  transition: all 0.3s;
}

.nav__logo--name {
  font-size: 3.2rem;
}

.nav__logo--year {
  font-size: 2.4rem;
  /* font-weight: 500; */
}

.nav__bar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__bar li {
  font-size: 1.44rem;
}

.nav__bar a:link,
.nav__bar a:visited {
  text-decoration: none;
  color: var(--color-link);
  font-weight: 400;
}

.nav__bar a:hover,
.nav__bar a:active {
  color: var(--color-primary);
}

.nav__bar span {
  font-size: 1rem;
  font-weight: 500;
}

.btn {
  background-color: var(--color-tag);
  color: var(--color-tag-text);
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border-radius: 100px;
}

.nav__btn {
  border: none;
  font-size: 1.44rem;
  border-radius: 6px;
  border: 2px solid var(--color-tag);
}

.nav__btn:hover {
  cursor: pointer;
  border: 2px solid var(--color-primary);
}

.hero__section {
  display: flex;
  gap: 6rem;
  height: calc(100vh - 8.4rem);
}

.hero__left-cont {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.2;
  font-weight: 400;
}

h1 span {
  font-size: 3.44rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1px;
}

h2 p {
  margin-top: 1rem;
  line-height: 1.4;
}

.hero__date {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__date p {
  font-size: 1.48rem;
  font-weight: 500;
}

.hero__img-cont,
.abt__aric--img-cont {
  display: flex;
  align-items: center;
  width: 40%;
}

.hero__img-cont img,
.abt__aric--img-cont img {
  width: 100%;
}

.hero__left-cont button {
  width: fit-content;
}

.section {
  padding: 8rem 0;
  display: flex;
  align-items: center;
}

.section-abt__aric {
  gap: 8rem;
}

.abt__aric--desc-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  justify-content: center;
}

.btn--tag {
  width: fit-content;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  display: inline-block;
}

.btn--tag span {
  font-size: 1.2rem;
}

.desc {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section__objectives,
.section__timeline,
.section__registration,
.section__organization {
  flex-direction: column;
}

.section__desc-cont {
  text-align: center;
  width: 48rem;
}

.section--desc {
  margin-top: 2rem;
}

.objectives__cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  margin-top: 6rem;
}

.object__cont {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.object--img-cont {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1.6px solid var(--color-primary);
  overflow: hidden;
}

.object--img-cont img {
  width: 100%;
}

.object__cont--desc {
  text-align: center;
}

h3 {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
}

.registration--head {
  font-size: 1.4rem;
  font-weight: 500;
}

.registrations__cont {
  padding: 0 8rem;
  margin-top: 8.8rem;
  display: grid;
  column-gap: 16rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  row-gap: 8rem;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
}

.registration img {
  height: 3.2rem;
  width: 3.2rem;
  position: absolute;
  top: -0.8rem;
  left: -4.8rem;
}

.registration ul {
  margin-left: 1.4rem;
}

.registration--2-3 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.organizations--cont {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 6rem;
  column-gap: 10rem;
}

.organization--1-2 {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1/-1;
}

.organization {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

.org--img-cont {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--color-primary-darker);
}

.org--img-cont img {
  width: 100%;
  /* transform: scale(0.96); */
}

.organization span {
  font-size: 1.32rem;
}

.btn--abt__abv {
  background-color: #fff;
  color: var(--color-tag);
  border: none;
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
  border: 1px solid #dbe2ea;
}

.btn--abt__abv:hover {
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

.contact_us--img-cont {
  position: relative;
}

.map_img {
  border-radius: 1rem;
}

.box--cont {
  position: absolute;
  top: 20%;
  left: 26%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.box {
  width: max-content;
  height: max-content;
  background-color: white;
  color: #2c2738;
  padding: 2rem;
  position: relative;
  border-radius: 1rem;
}

.box.arrow-bottom:after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  border-top: 1rem solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: none;
}

.details {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.contact--icon img {
  height: 4rem;
  margin-left: -1rem;
}

.section__stay-loop {
  position: relative;
}

.form__cont {
  margin-top: 4rem;
  padding: 1.6rem 3.2rem;
  box-shadow: 0px 40px 80px rgba(44, 39, 56, 0.08);
  border-radius: 5px;
}

form {
  display: flex;
  gap: 2rem;
}

form input {
  width: 40rem;
  padding: 4px 1.2rem;
  display: inline-block;
  border: 1px solid var(--color-primary-darker);
  border-radius: 6px;
}

.left--illustration {
  position: absolute;
  left: -10rem;
  width: 24rem;
}

.right--illustration {
  width: 36rem;
  position: absolute;
  right: -14rem;
  top: -4rem;
}
