/* Buttons */
.btn {
    background-color: var(--color-accent);
    padding: 1.2rem 3rem;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 8px var(--color-shadow);
    border: none;
    width: fit-content;
    transition: box-shadow 0.2s ease-in-out;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0px 24px 32px var(--color-shadow);
}

/* Tag */
.tag {
    background-color: var(--color-accent);
    padding: 1rem 2rem;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}

/* Card */
.cardContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: var(--color-tint);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px var(--color-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    max-width: 30rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 17rem;
}
.card > .cardImg {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1.6px solid var(--color-primary);
    overflow: hidden;
    margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
    .card > .cardImg {
        width: 6rem;
        height: 6rem;
    }
}
@media screen and (min-width: 2000px) {
    .card > .cardImg {
        width: 10rem;
        height: 10rem;
    }
}
.card > .cardImg > img {
    width: 100%;
}
.card > .cardTitle {
    text-align: center;
    margin-bottom: 0.5rem;
}
.card>.cardDescription {
    text-align: center;
}

/* Division */
.division {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 6rem;
    width: 100vw;
    min-height: max-content;
    flex-wrap: wrap;
    gap: 4rem;
}
.division > .textSubsection {
    width: 40vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.division > .imageSubsection {
    width: 40vw;
    max-width: 600px;
}
.division > .imageSubsection > img {
    width: 100%;
}
@media screen and (max-width: 800px) {
    .division {
        padding: 4rem;
        flex-direction: column;
    }
    .division > .textSubsection {
        width: 100%;
    }
    .division > .imageSubsection {
        width: 100%;
        max-width: 400px;
    }
    @media screen and (max-width: 600px) {
        .division {
            padding: 4rem 2rem;
        }
    }
}
/* Another type of title */
.infoTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoTitle>.tag {
    margin-bottom: 0.5rem;
}
.infoTitle>h2 {
    margin-bottom: 2rem;
}
.infoTitle>p {
    text-align: center;
    max-width: 56rem;
}


/* Social Media Icons */
.social {
    display: flex;
    align-items: center;
    margin-left: -1.8rem;
    margin-bottom: -1.8rem;
}
.social img {
    height: 6rem;
}
